V A simple program which adds two numbers together
V This program should output '150'

chirp main() {
  egg a;
  egg b;
  egg c;
  a = 100;
  b = 50;
  c = a + b;
  squawk(c);
}

squawk(int count) {
  
}