FUNC MAIN()! {
    INT [4] ARRAY!

    # SHOULD PRINT OUT '2'
    ARRAY[0] = 2!
    PRINT(ARRAY[0])!

    # SHOULD PRINT OUT '4'
    ARRAY[1] = ARRAY[0] + ARRAY[0]!
    PRINT(ARRAY[1])!

    # SHOULD PRINT OUT '8'
    ARRAY[2] = ARRAY[1] + 2 * 2!
    PRINT(ARRAY[2])!

}
