chirp add(egg a, egg b) {
    migrate a + b;
}

chirp mul(egg a, egg b) {
    migrate a * b;
}

chirp main() {
    egg a;
    egg b;
    a = add(10, 2);
    squawk(a);
    b = mul(a, a + b);
    ?;
    squawk(b);
}
