chirp add(egg a, egg b) {
    migrate a + b;
}

chirp mul(egg a, egg b) {
    migrate a * b;
}

chirp main() {
    egg a;
    egg b;
    egg c;
    egg d;

    a = 100;
    b = 50;

    V # should print 150
    c = add(a, b);
    squawk(c);

    V # should print "22500"
    d = mul(c, a + b);
    squawk(d);
}
