FUNC ADD(INT A, INT B)! {
    RETURN A + B!
}

FUNC MUL(INT A, INT B)! {
     RETURN A * B!
}

FUNC MAIN()! {
    INT A!
    INT B!
    A = ADD(10, 2)!
    PRINT(A)!
    B = MUL(A, A + B)!
    PRINT(B)!
}
