FUNC MAIN() {
    INT A!
    INT B!
    INT C!

    
    A = 100!
    B = 50!
    IF A < B {
        C = 0!
    } ELSE {
        C = 1!
    }

    # SHOULD PRINT OUT '1'.
    PRINT(C)!



    A = 100!
    B = 50!
    IF A >= B {
        C = 0!
    } ELSE {
        C = 1!
    }

    # SHOULD PRINT OUT '0'
    PRINT(C)!
}
