chirp main() {
    egg a;
    egg b;
    egg c;

    
    a = 100;
    b = 50;
    fly a < b {
        c = 0;
    } land {
        c = 1;
    }

    # Should print out '1'.
    squawk(c);



    a = 100;
    b = 50;
    fly a >= b {
        c = 0;
    } land {
        c = 1;
    }

    # Should print out '0'
    squawk(c);
}
