# A SIMPLE PROGRAM WHICH SHOWS MATHEMATICAL OPERATIONS.

FUNC MAIN()! {
  INT A!
  INT B!
  INT C;

  A = 100!
  B = 50!

  # THIS SHOULD OUTPUT '150'
  C = A + B!
  PRINT(C)!

  # THIS SHOULD OUTPUT '50'
  C = A - B!
  PRINT(C)!

  # THIS SHOULD OUTPUT '5000'
  C = A * B!
  PRINT(C)!

  # THIS SHOULD OUTPUT '2'
  C = A / B!
  PRINT(C)!

  # THIS SHOULD OUTPUT '0'
  C = A % B!
  PRINT(C)!

  # COMPLEX EXPRESSION. (4 + 2) * 7
  A = 4!
  B = 7!
  C = (A + 2) * B!
  PRINT(C)!
}
