vv A simple program which shows mathematical operations.

chirp main() {
  egg a;
  egg b;
  egg c;

  a = 100;
  b = 50;

  vv This should output '150'
  c = a + b;
  squawk(c);

  vv This should output '50'
  c = a - b;
  squawk(c);

  vv This should output '5000'
  c = a * b;
  squawk(c);

  vv This should output '2'
  c = a / b;
  squawk(c);

  vv This should output '0'
  c = a % b;
  squawk(c);

  vv Complex Expression. (4 + 2) * 7
  a = 4;
  b = 7;
  c = (a + 2) * b;
  squawk(c);
}
