V #3 - Not defining a main function.
chirp main2() {

  V #1 - Using a variable without having first declared it.
  f = 10;

  V #2 - Calling a function which has not been defined.
  egg b;
  b = thisDoesNotExist();

  V #4 - Defining a variable more than once.
  egg c;
  egg c;

  V #5 - Trying to name a variable with the same name as a reserved keyword.
  V egg egg;

  V #6 - Forgetting to specify an array index when using an array variable (i.e., trying to use an array variable as a regular integer variable).
  V egg[4] someArray;
  V someArray[] = 1;

  V #7 - Specifying an array index when using a regular integer variable (i.e., trying to use a regular integer variable as an array variable).
  egg notAnArray;
  notAnArray[0] = 1;

  V #8 - Declaring an array of size <= 0.
  egg[0] array;
}